page-home {

    h3 {
        text-align: center;
    }

    img {
        padding-top: 100px;
        width: 500px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;
    }
}
