
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> 
    <ion-title>Inspeção de Recebimento</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <loading *ngIf="!loading"></loading>
  <div *ngIf="loading">
    <inspecao 
      [inspecao]="inspecao" 
      [equipamento]="equipamento" 
      [cliente]="cliente">
  </inspecao>

  
    <ion-item (click)="goLink('lingada')">
      <ion-icon  name="ios-git-network-outline" item-start></ion-icon>
        Lingada
        <ion-badge item-end [color]="qtdLingada.color">{{qtdLingada.valor}}</ion-badge>
    </ion-item>

    <ion-item (click)="goLink('acessorios')">
      <ion-icon name="ios-construct-outline" item-start></ion-icon>
        Acessórios e Componentes
        <ion-badge item-end [color]="qtdAcessoriosComponentes.color">{{qtdAcessoriosComponentes.valor}}</ion-badge>
    </ion-item>

    <ion-item (click)="goLink('equipamentos')" >
      <ion-icon  name="ios-color-filter-outline" item-start></ion-icon>
        Equipamentos conectados
        <ion-badge item-end [color]="qtdEquipamentosConectados.color">{{qtdEquipamentosConectados.valor}}</ion-badge>
    </ion-item>

    <ion-item (click)="goLink('laudo')">
      <ion-icon name="ios-camera-outline" item-start></ion-icon>
        Laudos
        <ion-badge item-end [color]="qtdLaudos.color">{{qtdLaudos.valor}}</ion-badge>
    </ion-item>
    </div>
</ion-content>
<ion-footer *ngIf="loading">
  <ion-toolbar>
    <ion-title>
      <ion-grid>
        <ion-row>
          <ion-col>
            <button block ion-button (click)="popFinalizacao()">Finalizar</button>
          </ion-col>
          <ion-col>
            <button block ion-button color="danger" (click)="popUpInterromper()">Interromper</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-title>
  </ion-toolbar>
</ion-footer>