<!--
  Generated template for the DetalheInspecaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Registros Fotográficos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <strong>{{laudo.tipo}}</strong>
    </ion-card-header>
    <ion-card>
      <img
        *ngIf="laudo.imagem == null"
        (click)="getCameraPicture()"
        src="../assets/imgs/prod.jpg"
      />
      <img *ngIf="laudo.imagem != null" [src]="laudo.imagem" (click)="getCameraPicture()" />
    </ion-card>
    <button *ngIf="laudo.imagem != null" ion-button outline block (click)="cancel()">
      Descartar imagem
    </button>
    <ion-item>
      <ion-label>Com desvio?</ion-label>
      <ion-toggle [(ngModel)]="laudo.comDesvio" [(checked)]="laudo.comDesvio"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Usar no relatório?</ion-label>
      <ion-toggle [(ngModel)]="laudo.usarRelatorio" [(checked)]="laudo.usarRelatorio"></ion-toggle>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Laudo</ion-label>
        <ion-select
          [(ngModel)]="laudo.descricaoLaudo"
          name="descricaoLaudo"
          multiple="false"
        >
          <ion-option
            [value]="item"
            *ngFor="let item of descricoesLaudo"
            [selected]="item == laudo.descricaoLaudo? true: false"
            >{{item}}</ion-option
          >
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-item>
      <button ion-button icon-start clear item-start (click)="inserir()">
        <ion-icon name="arrow-round-back"></ion-icon>
        Salvar
      </button>
      <button ion-button icon-start clear item-end (click)="sendPicture()">
        <ion-icon name="arrow-round-forward"></ion-icon>
        Salvar e Próximo
      </button>
    </ion-item>
  </ion-card>
</ion-content>
