<!--
  Generated template for the LingadaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>   
    <ion-title>Acessórios e componentes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right top>
    <button *ngIf="qtdAcessorios < 2" (click)="novoAcessorio('')" ion-fab color="primary">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
  <inspecao 
      [inspecao]="inspecao" 
      [equipamento]="equipamento" 
      [cliente]="cliente">
  </inspecao>

   <ion-item *ngFor="let item of inspecao.acessoriosComponentes" >
    <ion-icon name="ios-construct-outline" item-start></ion-icon>
      <div (click)="novoAcessorio(item.id)">
        <p><strong>Descrição: </strong> {{item.descricao}}</p>   
        <p><strong>BP: </strong> {{item.bp}}</p>
        <p><strong>PN: </strong>{{item.pn}}</p> 
        <p><strong>SN: </strong>{{item.ns}}</p>            
      </div>
      <button ion-button clear icon-only item-end (click)="deletarLingada(item.id)">
        <ion-icon name="trash"></ion-icon>
      </button>
      
        
    </ion-item>

</ion-content>
